
.a{
    width: 450px;
    height: 300px;
 border: 2px solid black;
   

}
.b{
height:300px ;
width: 150px;
background-color: blue;
}
.c{
    height: 300px;
    width: 150px;
  top: 9.9px;
    background-color: orangered;
    display: inline;
    position: absolute;
    margin-left: 300px;
    }